<!DOCTYPE html>
<html>
  <head>
    <title>Shortify</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
<form action="/new" method="post">

  <h3>Adress</h3><br>
  <input type="text" id="adress" name="adress" ><br>
 <br>
 <br> 
 <input type="submit" value="Submit">

</form>




  </body>
</html>
